@model TrocaChaves.Models.XLogin

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Login</div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.Login, new { attributes = new { @class = "form-control" } })
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        </div>

                        <div >
                            <input type="submit" value="Logar" class="btn btn-success" />
                            <a href="https://www.techmahindra.com.br" class="btn btn-default">Sair</a>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
}
